<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALl posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All quora posts</h1>
    <% for(p of posts){ %>
        <div class="post"> 
            <h3 class="user">@ <%=p.name %></h3>
            <h4 class="content"><%=p.content %></h4><br><br>
            <a href="/posts/<%=p.id%>">See in detail </a> 
            &nbsp; | &nbsp;
            <a href="/posts/<%=p.id%>/edit">Edit</a>
            <br><br>
            <form action="/posts/<%=p.id%>?_method=DELETE" method="post">
                <button>Delete</button>
            </form>
            
        </div>
    <% } %>

        <br><br><br>
    <a href="/posts/new" >Create new post</a>

</body>
</html>